<!DOCTYPE html>
<html>

<head>
    <title>Novo Livro</title>
</head>

<body>

    <h2>Novo Livro</h2>

    <form action="/salvar" method="POST">

        <input name="titulo" placeholder="Título"><br><br>

        <input name="isbn" placeholder="ISBN"><br><br>

        <input name="paginas" placeholder="Páginas"><br><br>

        <input name="ano_publicacao" placeholder="Ano"><br><br>

        <input name="valor" placeholder="Valor"><br><br>

        <input name="estoque" placeholder="Estoque"><br><br>

        <button type="submit">
            Salvar
        </button>

    </form>

</body>

</html>